/* GENERAL ------------------------------------ */
.main{
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.mainLink{
  color: purple;
  text-decoration: none;
  font-size: 80px;
  font-weight: bold;
  /* margin: auto; */
  font-family: 'fantasy';
}

.hide {
  display: none;
}

/* for stories component */
.underline {
  border-bottom: 3px solid #1876f2;
}

::-webkit-scrollbar{
  display: none;
}

.mobile{
  max-height: 844px;
  max-width: 390px;
}

.tablet{
  max-width: 1200px;
}

.desktop{
  max-width: 1200px;
}

/* MOBILE --------------------------------------------- */

/* TABLET ------------------------------------------------------------*/


/* mobile */
@media screen and (max-width : 400px) {
  body{
    background-color: red;
  }
}


/* TABLET --------------------------------- */
@media (min-width: 400px) and (max-width : 1200px ) {
  body{
    background-color: rgba(0, 0, 255, 0.137);
  }
  /* TABLET STORIES ----------------------- */
.storiesContainer * *:hover{
  cursor: pointer;
}

.tablet .storiesContainer{
  border: 2px solid grey;
  width: 450px;
  margin: 20px auto;
}

.storiesContainer .options{
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  text-align: center;
  padding: 0 10px;
}

.storiesContainer .options *{
  width: 50%;
  padding-bottom: 5px;
  margin-bottom: -8px;
}


.tablet .stories{
  height: 200px;
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: nowrap;
  overflow: scroll;
}

.tablet .story{
  border: 1px solid lime;
  border-radius: 10px;
  flex-shrink: 0;
  height: 190px;
  width: 120px;
  margin: 0 7px;
}

.tablet .story .avatar {
  height: 30px;
  border-radius: 50%;
  border: 4px solid #1876f2;
  margin-left: 10px;
  margin-top: 10px;
}

/* TABLET HEADER --------------------------- */
.header * *:hover {
  cursor: pointer;
}

.tablet .header{
  border: 1px solid grey;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tablet .header > *{
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}
.tablet .header *{
  height: 40px;
}
.tablet .header .logo{
  height: 40px;
  margin-left: 10px;
}
.tablet .header .searchContainer{
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.tablet .header .search{
  height: 20px;
  /* margin-left: 10px; */
  zoom: 70%;
  filter: invert(.4);
}

.tablet .header .middle{
  width: 500px;
  align-items: center;
  margin-right: -100px;
}

.tablet .header .middle *{
  border: 1px solid lime;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.tablet .header .underline{
  border-bottom: 4px solid #1876f2;
}

.tablet .header .right{
  width: 200px;
  align-items: center;
}

.tablet .header .selfie{
  border-radius: 50%;
  height: 35px;
}

.tablet .header .iconContainer{
  /* border: 1px solid lime; */
  background-color: #f0f2f5;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablet .iconContainer * {
  height: 20px;
  width: 20px;
}
/* POSTS ------------ */

.container{
  /* border: solid red; */
  width: 600px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.post{
  /* border: solid red; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.yoda{
  width: 52px;
  border-radius: 50%;
}
.bar{
  width: 100%;
  background-color: rgb(210, 205, 205);
  border-radius: 22px;
  height: 32px;
}
.icons{
  /* border: solid blue; */
  display: flex;
  justify-content: space-around;
  
}
.images{
  width: 32px;
}
.red{
  display: flex;
  align-items: center;
}
.green{
  display: flex;
  align-items: center;
}
.yellow{
  display: flex;
  align-items: center;
}
}

/* DESKTOP------------------------------------------------------ */
@media (min-width : 1201px) {
  body{
    background-color: rgba(252, 5, 5, 0.178);
  }
  /* TABLET STORIES ----------------------- */
.storiesContainer * *:hover{
  cursor: pointer;
}

.storiesContainer{
  border: 2px solid rgb(255, 0, 0);
  width: 450px;
  margin: 20px auto;
}

.storiesContainer .options{
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  text-align: center;
  padding: 0 10px;
}

.storiesContainer .options *{
  width: 50%;
  padding-bottom: 5px;
  margin-bottom: -8px;
}


.stories{
  height: 200px;
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: nowrap;
  overflow: scroll;
}

.story{
  border: 1px solid lime;
  border-radius: 10px;
  flex-shrink: 0;
  height: 190px;
  width: 120px;
  margin: 0 7px;
}

.story .avatar {
  height: 30px;
  border-radius: 50%;
  border: 4px solid #1876f2;
  margin-left: 10px;
  margin-top: 10px;
}

/* DESKTOP HEADER --------------------------- */
.header * *:hover {
  cursor: pointer;
}

.header{
  border: 1px solid grey;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > *{
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}
.header *{
  height: 40px;
}
.header .logo{
  height: 40px;
  margin-left: 10px;
}
.header .searchContainer{
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
.header .search{
  height: 20px;
  /* margin-left: 10px; */
  zoom: 70%;
  filter: invert(.4);
}

.header .middle{
  width: 500px;
  align-items: center;
  margin-right: -100px;
}

.header .middle *{
  border: 1px solid lime;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
}

.header .underline{
  border-bottom: 4px solid #1876f2;
}

.header .right{
  width: 200px;
  align-items: center;
}

.header .selfie{
  border-radius: 50%;
  height: 35px;
}

.header .iconContainer{
  /* border: 1px solid lime; */
  background-color: #f0f2f5;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconContainer * {
  height: 20px;
  width: 20px;
}
/* POSTS ------------------- */

.container{
  /* border: solid red; */
  width: 600px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}
.post{
  /* border: solid red; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.yoda{
  width: 52px;
  border-radius: 50%;
}
.bar{
  width: 100%;
  background-color: rgb(210, 205, 205);
  border-radius: 22px;
  height: 32px;
}
.icons{
  /* border: solid blue; */
  display: flex;
  justify-content: space-around;
  
}
.images{
  width: 32px;
}
.red{
  display: flex;
  align-items: center;
}
.green{
  display: flex;
  align-items: center;
}
.yellow{
  display: flex;
  align-items: center;
}
}